<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>起名参考</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}" rel="stylesheet">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	 <link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.4.0/css/font-awesome.min.css') }}"  type="text/css">
	<!-- jQuery and Modernizr-->
	<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
<header>
	<!--Top-->
	<nav id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<strong>欢迎使用!</strong>
				</div>
				<div class="col-md-6">
					<ul class="list-inline top-link link">
						<li><a href="#"><i class="fa fa-home"></i> 首页</a></li>
						<li><a href="#"><i class="fa fa-comments"></i> 联系</a></li>
						<li><a href="#"><i class="fa fa-question-circle"></i> 问答</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	
	<!--Navigation-->
    <nav id="menu" class="navbar container">
		<div class="navbar-header">
			<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
			<a class="navbar-brand" href="#">
				<div class="logo"><span>起名参考</span></div>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">首页</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">账户 <i class="fa fa-arrow-circle-o-down"></i></a>
					<div class="dropdown-menu">
						<div class="dropdown-inner">
							<ul class="list-unstyled">
								<li><a href="#">登录</a></li>
								<li><a href="#">注册</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="#"><i class="fa fa-cubes"></i> 联系</a></li>
				<li><a href="#"><i class="fa fa-envelope"></i> 问答</a></li>
			</ul>
			<ul class="list-inline navbar-right top-social">
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
		</div>
	</nav>
</header>	
	<div class="featured container">
		<div class="row">
			<div class="col-sm-8">
				<!-- Carousel -->
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="{{ url_for('static', filename='images/1.png') }}" alt="First slide">
						</div>
						<div class="item">
							<img src="{{ url_for('static', filename='images/2.jpg') }}" alt="Second slide">
							 <div class="header-text hidden-xs">
								<div class="col-md-12 text-center">
									<h2>八字五行</h2>
									<br>
									<h3>精准测算</h3>
									<br>
								</div>
							</div><!--/header-text -->
						</div>
						<div class="item">
							<img src="{{ url_for('static', filename='images/3.jpg') }}" alt="Third slide">
							<!-- Static Header -->
							<div class="header-text hidden-xs">
								<div class="col-md-12 text-center">
									<h2>三才五格</h2>
									<br>
									<h3>辅助选名</h3>
									<br>
								</div>
							</div> <!--/header-text -->
						</div>
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div><!-- /carousel -->
			</div>
			<div class="col-sm-4" >
				<div class="query">
					<div class="form-inline">
						<label style="width: 45%;">请输入姓氏：</label>
						<input style="width: 45%;" placeholder="必填" type="text" id="xing" />
					</div>
					<div class="block form-inline">
					<span><input type="text" placeholder="选择出生日期" style="width: 45%;" value="" name="date" id="birthday" class="form-control"></span>
					<span><input type="text" placeholder="选择出生时间" style="width: 45%;" value="" name="time" id="birthdayTime" class="form-control"></span>
					</div>
					<div class="block">
						<label style="width: 45%;">请选择单/双字名：</label>
						<select name="type" id="doublename"  style="width: 45%;">
						<option value="2">双字名</option>
						<option value="1">单字名</option>
						</select>
					</div>
					<div class="block form-inline">
							<label style="width: 30%;"><input type="radio" name="zhidingziradio" value=1 checked>指定第一个字</label>
							<label style="width: 30%;"><input type="radio" name="zhidingziradio" value=2 >指定第二个字</label>
							<input style="width: 30%;" placeholder="选填" type="text" id="zhidingzi" />
					</div>
					<div class="block">
						<div class="radio-inline ">
						  <label><input type="radio" name="optradio" value=1 checked>男 孩 </label>
						</div>
						<div class="radio-inline">
						  <label><input type="radio" name="optradio" value=2>女 孩 </label>
						</div>
					</div>
					<div class="block">
						<button class="btn btn-primary"  id="query" onclick="query()">   查 询   </button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page container">
		<div class="row">
			<div id="main-content"><!-- background not working -->
				<div class="col-md-6">
					<div class="box">
						<div class="widget wid-vid">
							<div class="heading">
								<h4>参考结果</h4>
							</div>
							<div id="result" class="box-content">
							</div>
							<div class="heading"><h4>生辰解析</h4></div>
							<div id="shengchen" class="box-content">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div class="col-md-3">
					<!---- Start Widget ---->
					<div class="box">
						<div class="widget wid-vid">
							<div class="heading">
								<h4>名字测评</h4>
							</div>
							<div  class="box-content ">
								<div class="form-inline">
									<input type="text"  style="width: 30%;" placeholder="姓" id="xingshi" />
									<input type="text"  style="width: 60%;" placeholder="名" id="mingzi" />
								</div>
								<div class="block">
									<span><input type="text" placeholder="选择出生日期" value=""  name="date" id="birthdayanalyse" class="form-control"></span>
									<span><input type="text" placeholder="选择出生时间" value=""  name="time" id="birthdayanalyseTime" class="form-control"></span>
								</div>
								<div class="block">
									<button class="btn btn-primary" id="test" onclick="analyzemingzi()">分析测评</button>
								</div>
							</div>
							<div class="heading"><h4>名字分析</h4></div>
							<div  class="box-content">
								<div id="wugeresult">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
					<div class="widget wid-vid">
						<div class="heading"><h4>自定义五行</h4></div>
						<div class="box-content">
							<div><input  placeholder="请输入姓氏" type="text" id="xingcustom" /></div>

							<div class="block form-inline">
							<select name="type" id="firstwuxing"  style="width: 30%;">
								<option value="金">金</option>
								<option value="木">木</option>
								<option value="水">水</option>
								<option value="火">火</option>
								<option value="土">土</option>
							</select>
							<select name="type" id="secondwuxing"  style="width: 30%;">
								<option value="金">金</option>
								<option value="木">木</option>
								<option value="水">水</option>
								<option value="火">火</option>
								<option value="土">土</option>
							</select>
							</div>
							<div class="block">
								<select name="type" id="doublenamecustom"  style="width: 45%;">
								<option value="2">双字名</option>
								<option value="1">单字名</option>
								</select>
							</div>
							<div class="block">
								<div class="radio-inline ">
								  <label><input type="radio" name="optradiocustom" value=1 checked>男 孩 </label>
								</div>
								<div class="radio-inline">
								  <label><input type="radio" name="optradiocustom" value=2>女 孩 </label>
								</div>
							</div>
								<div class="block">
									<button class="btn btn-primary" onclick="querycustom()">查 询</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-footer footer-1">
						<div class="footer-heading"><h1><span style="color: #000;">鸣谢</span></h1></div>
						<div class="content">
							<p><strong>瑾将此网站献给即将出生的宝宝！</strong></p>
							<p><strong>感谢妻子十月怀胎艰辛！</strong></p>
							<p><strong>感谢父母的辛苦操劳！</strong></p>
						</div>
					</div>
					<div class="col-sm-4 col-footer footer-2">
						<div class="footer-heading"><h4>感谢捐赠</h4></div>
						<div class="content">
							<img src="{{ url_for('static', filename='images/wx.png') }}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right">
			<p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://h2design.taobao.com/">茁壮成长</a></p>
		</div>
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
	
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
	<script  src="{{ url_for('static', filename='laydate/laydate.js') }}"></script>
	<script type="text/javascript">
		$('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
	laydate.render({
	  elem: '#birthday' //指定元素
	});
	laydate.render({
	  elem: '#birthdayTime'
	  ,type: 'time'
	});
	laydate.render({
	  elem: '#birthdaycustom' //指定元素
	});
	laydate.render({
	  elem: '#birthdaycustomTime'
	  ,type: 'time'
	});
	laydate.render({
	  elem: '#birthdayanalyseTime'
	  ,type: 'time'
	});
	laydate.render({
	  elem: '#birthdayanalyse' //指定元素
	});



    function resolve_bazi(data){
		bazi_result = eval("("+data+")");
		wuxingscore = bazi_result['wuxingscore']
		tonglei = bazi_result['tongle']
		rigan_wx = bazi_result['rigan']
		is_weak = bazi_result['isweak']?1:0
		minTong = bazi_result['minTong']
		minYi = bazi_result['minYi']
		bazi = bazi_result['shengchenbazi']
		yileilist = bazi_result['yileilist']

		var shengchenHtml="";
		shengchenHtml += '五行强度：<br/>'
		shengchenHtml += '金：'+wuxingscore[0]+'<br/>'
		shengchenHtml += '木：'+wuxingscore[1]+'<br/>'
		shengchenHtml += '水：'+wuxingscore[2]+'<br/>'
		shengchenHtml += '火：'+wuxingscore[3]+'<br/>'
		shengchenHtml += '土：'+wuxingscore[4]+'<br/>'
		shengchenHtml += '八字：'+bazi +'<br/>'
		if(is_weak){
			shengchenHtml += '日干为'+rigan_wx+',八字偏弱<br/>'
			shengchenHtml += '喜用神：'+tonglei+','+rigan_wx +'<br/>'
		}
		else{
			shengchenHtml +=  '日干为'+rigan_wx+',八字偏旺<br/>'
			shengchenHtml += '喜用神：'+yileilist[0]+','+yileilist[1]+','+yileilist[2]+',' +'<br/>'
		}
		$('#shengchen').html(shengchenHtml);
    }
    function resolve_wuge(data,xing,mingzi){
		var wugeHtml="";
		wuge_result = eval("("+data+")");
		wuxing = wuge_result['wuxing'];
		xingbh = wuge_result['xingbh'];
		mingbh = wuge_result['mingbh'];
		tian = wuge_result['tian'];
		ren = wuge_result['ren'];
		di = wuge_result['di'];
		zong = wuge_result['zong'];
		sancaiScore = wuge_result['sancaiScore'];
		wuge = wuge_result['wuge'];
		wugeHtml += '姓名五行：<br/>';
		if(xing.length==2){
			wugeHtml += xing[0]+'：'+wuxing[0]+'<br/>';
			wugeHtml += xing[1]+'：'+wuxing[1]+'<br/>';
		}
		else
			wugeHtml += xing[0]+'：'+wuxing[0]+'<br/>'
		if(mingzi.length==2){
			wugeHtml += mingzi[0]+'：'+wuxing[xing.length]+'<br/>'
			wugeHtml += mingzi[1]+'：'+wuxing[xing.length+1]+'<br/>'
		}
		else
			wugeHtml += mingzi[0]+'：'+wuxing[xing.length-1]+'<br/>'
		wugeHtml += '姓名笔画（康熙字典）：<br/>'
			wugeHtml += xing[0]+'：'+xingbh+'  (复姓取第一个字)<br/>'
		if(mingzi.length==2){
			wugeHtml += mingzi[0]+'：'+mingbh[0]+'<br/>'
			wugeHtml += mingzi[1]+'：'+mingbh[1]+'<br/>'
		}
		else
			wugeHtml += mingzi[0]+'：'+mingbh[0]+'<br/>'

		wugeHtml += '天格：'+tian+'<br/>'
		wugeHtml += '地格：'+di+'<br/>'
		wugeHtml += '人格：'+ren+'<br/>'
		wugeHtml += '总格：'+zong+'<br/>'
		wugeHtml += '三才分数：'+sancaiScore+'<br/>'
		wugecp = ''
		if(wuge>2)
			wugecp = '大吉'
		else if(wuge==2)
			wugecp = '吉'
		else if(wuge==1)
			wugecp = '佳'
		else if(wuge==0)
			wugecp = '良'
		wugeHtml += '五格测评：'+wugecp+'  <br/>'

		$('#wugeresult').html(wugeHtml);
    }

    function query(){
        xing = document.getElementById("xing").value
        sex = $("input[name='optradio']:checked").val();
        date = document.getElementById("birthday").value
        time = document.getElementById("birthdayTime").value
        doublename = $('#doublename  option:selected').val()

        $.post("{{ url_for('analyse_bazi') }}",
		{
                    'date':date,'time':time,
                },
			function(data,status){
            	resolve_bazi(data)

			$.post("{{ url_for('query') }}",
			{
						'tonglei':tonglei,'rigan_wx':rigan_wx,'is_weak':is_weak,'minTong':minTong,'minYi':minYi,'wuxingscore':wuxingscore.join(),'xing':xing,'sex':sex					},
				function(data,status){

				var itemHtml="";
				listName = eval("("+data+")");
				for(var i=0,len=listName.length;i<len;i++){
				　　itemHtml+='<a href="#result" onclick="analyse(xing,this)" style="padding-left: 20px;padding-top: 10px;display:inline-block">'+xing+listName[i]+'</a>';
				}
				$('#result').html(itemHtml);
			});
		});
    }


    function querycustom(){
        xing = document.getElementById("xingcustom").value
        sex = $("input[name='optradiocustom']:checked").val();
        doublename = $('#doublenamecustom  option:selected').val()
        firstWx = $('#firstwuxing  option:selected').val()
        secondWx = $('#secondwuxing  option:selected').val()

        $.post("{{ url_for('querycustom') }}",
		{
            'xing':xing,'sex':sex,'firstWx':firstWx,'secondWx':secondWx
        },
		function(data,status){
			var itemHtml="";
			listName = eval("("+data+")");
			for(var i=0,len=listName.length;i<len;i++){
			　　itemHtml+='<a href="#result" onclick="analyse(xing,this)" style="padding-left: 20px;padding-top: 10px;display:inline-block">'+xing+listName[i]+'</a>';
			}
			$('#result').html(itemHtml);
		});
    }

    function analyse(xing,obj){
    	mingzi = ""
    	quanming = obj.innerHTML
    	if(xing.length==2)
    		mingzi = quanming.substring(2)
    	else
    		mingzi = quanming.substring(1)
    	$('#mingzi').val(mingzi)
    	$('#xingshi').val(xing)
    	$.post("{{ url_for('analyse_mingzi') }}",
			{
				'xing':xing,'ming':mingzi
			},
			function(data,status){
				resolve_wuge(data,xing,mingzi);
			});
    }

    function analyzemingzi(){
        xing = $("#xingshi").val()
        ming = $("#mingzi").val()
        date = document.getElementById("birthdayanalyse").value
        time = document.getElementById("birthdayanalyseTime").value
    	$.post("{{ url_for('analyse_mingzi') }}",
			{
				'xing':xing,'ming':ming
			},
			function(data,status){
				resolve_wuge(data,xing,ming);
			}
		);
        $.post("{{ url_for('analyse_bazi') }}",
			{
                'date':date,'time':time,
            },
            function(data,status){
            	resolve_bazi(data)
			}
		);
    }
</script>
</body>
</html>
